body {
    background-color: darkgrey;
    background-image: url('/static/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

#reg {
    text-align: center;
}

#submit {
    margin-top: 1em;
}

.task {
    text-align: center;
}

.task_id, .task_title, .task_desc {
    background-color: white;
    display: inline;
    border-style: solid;
}

/* .task_title {
    display: inline;
}

.task_desc {
    display: inline;
} */